<p>
  <a href="/" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">Home</a> / 
  <a href="/postagem/{{postagem.slug}}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{postagem.titulo}}</a>
</p>

<div class="card mt-4">
  <div class="card-body">
    <h1>{{postagem.titulo}}</h1>
    <hr>
    <small>Data de publicação: {{postagem.data}}</small> <br>
    <hr>
    {{postagem.conteudo}}
  </div>
</div>